*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
   font-family: 'Poppins', sans-serif;
   
}
p{
    color: hsl(227,11%,58%);
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    text-align: left; 
    width: 100%;  
}
#top-1{
    background-color: hsl(240, 5%, 19%) ;
    background-image: url(chuttersnap-179223-unsplash.jpg);
    background-size: cover;
   background-repeat: no-repeat;
  /* transition: 1s;*/
}
/*#top-1:hover{
    background-position: left;

}*/

#hover-hinh img{
    margin-left: 120px;
    width: 82%;
    height: 80%;
    box-shadow: 0px 8px 30px black;
    border-radius: 3px;
}
#hover-hinh{
    padding-top: 50px;
    margin-left: 225px;
    padding-left: 200px;
    position: relative;
}
#hover-hinh .under-hover{
    position: absolute;
    left: 0px;
    top: 35%;
    font-size: 30px;
    color: rgb(238, 238, 238);
    width: 58%;
    
}
.under-hover h1{
    font-family: 'Poppins', sans-serif;
    line-height: 67px;
    font-size: 50px;
    text-shadow: 0px 8px 30px black;
}
.under-hover h2{
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 11px;
    font-family: 'Titillium Web', sans-serif;
    padding: 0px 20px;
    letter-spacing: 4px;
}
#under-hover-h2{
    width: 558px;
}
.under-hover h1 b{
    color: #F60B4B  ;
}
.menu-1{
    padding-left: 197px;
    padding-top: 20px;
    background-color: #2B2C30;
    /*overflow: hidden;
    position: sticky;
    top: 0;*/
    /* position: fixed; */  
    /*display: none; */
}
.displayblock{
    display: block !important;
}
.menu-1>ul{
    display: inline-table;  
    list-style: none;
    margin: 0;
    padding: 0;

}
.menu-1 ul li{
    float: left;

}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 8px;
    height: 53px;
    line-height: 41px;

}
.menu-1>ul>li>a:hover{
    color: #F60B4B;
    transition: 1s;
}
/*menufixed*/
.menu-2{
    padding-left: 197px;
   /* padding-top: 20px;*/
    background-color: #2B2C30;
    top: 0px;   
    position: fixed;
    width: 100%;
    height: 80px;
    display: none;
    z-index: 9999;
}
.menu-2>ul{
    display: inline-table;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-2 ul li{
    float: left;
}
.menu-2 ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 8px;
    height: 40px;
    line-height: 78px;
}
.menu-2>ul>li>a:hover{
    color: #F60B4B;
    transition: 1s;
} 
/*menufixed       */
.menudoc{
    position: fixed;
    /* position: absolute; */
    top: 0px;
    width: 80px;
    height: 100%;
    left: 0px;
    background-color: #2B2C30;
    z-index: 9999;
}
.menudoc a{
    color: white;
    display: block;
    padding: 10px 0px;
    text-align: center;
    
}
.menudoc .mangxahoi i{
    font-size: 17px;
    padding: 10px 10px;
    border: 1px solid gray;
}
.menudoc>.mangxahoi>a:hover i{
    border-radius: 15px;
    transition: 0.8s;
    color: #F60B4B;
}
#home-logo img{
    /* padding-top: 10px;
    padding-left: 10px; */
    text-align: center;
   
    width: 50px;
    height: 50px;
    opacity: 50%;
}
.mangxahoi{
    padding-top: 160px;
}
/* tuchonaychencss */
.avt{
    width: 73%;
    padding-left: 9rem;
    padding-top: 6rem;
}
.hihi{
    color: hsl(0,0%,60%);
    font-family:  'Titillium Web', sans-serif;
}

.hihi p{
    width: 80%;
}
.tr{
    float: left;
    width: 46%;   
}
.p{
    padding-top: 6rem;
    width: 100%;
    background-image: url(tab.png);
    transition: 5s;
}
.p:hover{
    background-position: left bottom;
}
.p1{
    width: 80%;
    padding-top: 10px;
}
.p1 h2 b{
    color: #F60B4B;;
}
.p2{
    padding-top: 2rem;
    line-height: 2rem;
}
.p2-1{
    float: left;
    margin-right: 1rem;
}
.p3{
    padding-top: 2rem;
}

.p3 tr td{
    line-height: 1.5rem;
    padding-right: 1rem;
}
.p3 tr td i{
    color: #F60B4B;;
    margin-right: 1rem; 
    float: left;
    height: 6rem;
}
.duoi{
    clear: both;
    padding-top: 10px;
}
.duoi h2 b{
    color: #F60B4B;;
}
/*ketthucchochen*/

.resume{
    width: 100%;
    margin-top: 190px;


}
.resume-1{
    width: 37%;
    height: auto;
    margin: 72px 0px 0px 200px;
    border-right: 3px solid hsl(46,96%,55%);
    background-image: url(custom2.png);
    background-size: cover;   
     /*background-attachment: fixed; */
     transition: 3s;
}
.resume-1:hover{
    background-position: right;
}
.resume .resume-1 h3{
    color: hsl(0,0%,60%);
    font-family:  'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 30px;
    text-align: left;

}
.resume .resume-1 h2{
    color: hsl(215,16%,23%);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    padding: 0px 0px 30px;
    text-transform: uppercase;
}
.resume .resume-1 p{
    color: hsl(227,11%,58%);
    font-size: 11px;
    font-weight: 500;
    width: 90%;
    line-height: 24px;
    padding: 0px 0px 10px;
    text-align: left;
}
.resume .resume-1 h2 b{
    color: hsl(46,96%,55%);
}
.resume .resume-2{
    background-image: url(lol3.png);
     /*background-attachment: fixed;*/
     transition: 2s;
     
}
.resume .resume-2:hover{
    background-position: bottom left;
}
.resume .resume-2 .tab{
    padding-top: 80px;
   
    height: 432px;
}
.resume .resume-2 .tab .time-work{
    width: 17%;
    height: 22%;
    padding-left: 19px;
    padding-top: 16px;
    background-color: hsl(0,0%,98%);
    margin-left: 200px;
    float: left;
    line-height: 20px;
}
.time-work h3{
    font-size: 14px;
    text-align: left;   
}
span{
    color: hsl(0,0%,40%);
    font-size: 13px;
}
/*.img{
   
 width: 400px;
 height: 500px;
 background-color: black;
 display: inline-block;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: url(fasttrackse1.jpg);
 transition: 2s;
}
.img:hover{
    background-position: top;
    cursor: pointer;
}*/
.tab img{
    width: 26%;
    float: left;
    margin-left: 106px;
    margin-right: 105px;
}
.resume-2 .note{
    width: 24%;
    /*height: 384px;*/
    background-color: hsl(0,0%,98%);
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.note h3{
     font-size: 14px;
    text-align: center; 
}
.note p{
    color: hsl(227,11%,58%);
    font-size: 11px;
    line-height: 24px;
    /* padding: 0px 0px 4px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.time-work h3 b{
    color: hsl(46,96%,55%);
}
.skills{
    width: 100%;
   /* background-image: url(skill.png);*/
    background-size: cover;
    background-attachment: fixed;
    transition: 2s;
    margin-top: 100px;
    margin-bottom: 100px;

}
.design-skills{
   /* float: left;*/
   clear: both;
       height: 200px;
}
.design-skills .content-skills{
    width: 20%;
    height: 69%;
    margin-left: 145px;
    padding-left: 30px;
    padding-top: 30px;
    float: left;
    border-left: 2px solid #F60B4B;
}
.content-skills h3{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.content-skills h3 span p{
    color: hsl(227,11%,58%);
    font-size: 11px;
    line-height: 24px;
    padding: 10px 0px;
    font-weight: 700;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}
.corlor{
    color: #F60B4B;
}
b{
    color:#F60B4B;
}
.bar-skill{
    float: left;
    display: inline-flex;
    margin-left: 1vw;

}
.box{
    margin-left: 3vw;
    
}
.box .vongtron  {
    
}
.box .vongtron canvas{
    
}
.subcontent-skills{
    border: 0.1px solid #E6E6E6;
    text-align: center;
    background-color: hsl(0,0%,100%);
    margin-left: 34px;
    margin-top: 15px;

}
.subcontent-skills h4{
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    color: hsl(0,0%,40%);
    padding: 10px;
}
.code-skills{
    margin-top: 100px;
}
.code-skills .content-skills{
    margin-top: 30px;
    width: 20%;
    margin-left: 250px;
    padding-left: 30px;
    border-left: 2px solid #F60B4B;
    float: left;
}
.code-bar-skills{
    list-style:none;
    padding: 0;
    width: 47%;
   /* height: 400px;*/
   margin-left: 600px;
   font-size: 13px;
   text-align: left;
   padding-top: 20px;
   padding-left: 20px;
}
.code-bar-skills h3{
    font-size: 13px;
}
.code-bar-skills li{
    margin: 20px 0;
}
.bar{
    background-color: hsl(46,96%,55%);
    display: block;
    height: 7px;
    boder:1px solid #F60B4B;
    border-radius: 2px;
    overflow: hidden;
}
.bar span{
    height: 7px;
    float: left;
    background-color: #F60B4B;
}
.htmls{
    width: 90%;
    animation: html 2s;
}
.photoshops{
    width: 80%;
    animation: photoshop 2s;
}
.javascripts{
    width: 70%;
    animation: javascipt 2s;
}
.nodejss{
    width: 85%;
    animation: nodejs 2s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes photoshop{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes javascipt{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes nodejs{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
.project{
    width: 100%;
    background-color: #2A2A2E;
}
.sologan{
    width: 100%;
    height: 721px;
    background-color: hsl(240, 5%,17%);
    background-image: url(background-2.png);
    transition: 2s;
}
.sologan:hover{
    background-position: right;
}
.project .sologan .tab{
    /*background-color: hsl(240, 5%, 17%);*/
    padding-left: 150px;
    padding-top: 200px;
   /* background-color: yellow;*/
     float: left;
     clear: both;
}
.project .sologan .tab h2 b{
    color: #FAC921;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.project .sologan .tab h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-weight: bold;
}
.project .sologan .tab p{
    padding: 10px;
    background-color: hsla(0,0%,20%,0.31);
    width: 60%;
    color: hsla(0,0%,100%,0.71);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    /* font-weight: bold; */
    letter-spacing: 2px;
}
.project .sologan .hinh-background{
    width: 37%;
    height: 100%;
    background-color: yellow;
    float: left;
}
.project .sologan .flex{
    padding-top: 20px;
    width: 100%;
    display: flex;
   /* background-color: red;*/
}
.project .sologan .flex .box-flex{
      margin: 60px 50px 50px 50px;
}
.box-flex h3{
    color: white;
    font-size: 44px;
    text-align: left;
}
.box-flex h6{
    background-color: hsla(0,0%,20%,0.31);
    color: hsla(0,0%,100%,0.51);
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
    margin: 6px 0 0;
    padding: 10px 10px 10px 20px;
    text-transform: uppercase;
}
.project .slide-project{
    margin-top: 50px;
    padding-left: 0;
    width: 100%;
    height: 619px;
    background-color: hsl(240,5%,17%);
    position: relative;
    

}
.project>.slide-project #slide-box{
    /*position: absolute;*/
    width: 100%;
    height: 80%;
   /* background-color: red;*/
}
.slide-project #slide-box img{
    margin-left: 48px;
    width: 42%;
    height: 80%; 
}
.slide-project button{
    padding: 13px;
    border:none;
    background-color: hsla(0,0%,100%,0.21);
    font-size: 20px;
    color: hsl(46,96%,55%);
    position: absolute;
    top:29%;
    line-height: 13px;
    outline: none;

}
.slide-project button:hover{
    border-radius: 100%;
    transition: 1s;
}
.next{
    border-radius: 4px;
    margin-left: 46%;
}
.prew{
    border-radius: 4px;
}
.projects-left{
    width: 39%;
    height: 100%;
    float: left;
    clear: both;
    margin-right: 36px;
    margin-left: 109px;

}
.projects-left h3{
    color: hsla(0,0%,100%,0.71);
     font-family: 'Poppins', sans-serif;
     font-size: 40px;
     text-transform: uppercase;
     text-align: left;
}
.projects-left p{
    font-size: 11px;
    padding-top: 13px;
    padding-bottom: 26px;
}
.projects-left>a{
    text-decoration: none;
    color: white;
    background-color: hsl(46,96%,55%);
    border-radius: 4px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    padding: 15px 30px;
    margin-top: 20px;
    transition: 0.6s;

}
.projects-left>a:hover{
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;

}
.box-project{
    height: 72%;
    width: 100%;
    /*background-color: #2A2A2E;*/
    display: flex;
    background-image: url(projectccv.png); 
    transition: 2s; 
}
.box-project:hover{
    background-position: right;
}
.box-project .subbox{
    width: 50%;
    height: 52%;
 position: relative;
 text-align: center;

}
.box-project .subbox img{
    width: 88%;
    
}
.subbox>a{
    color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 12px;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     padding: 10px;
     width: 100%;
}
.middle>a{
    color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
    text-decoration: none;   
    padding: 2px;
}
.middle{
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 46%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}
.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.subbox:hover .image{
    opacity: 0.3;
}

.subbox:hover .middle{
    opacity: 1;
}
.contacts{
    width: 100%;
    height: 650px;
    background-image: url(backgroundss.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contacts .row{
    height: 100%;
    width: 80%;
  /*  background-color: hsl(240,5%,17%);*/
    margin: auto;
    position: relative;
}
.contacts .row span{
    color: hsl(0,0%,100%);
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-left: -64px;
    margin-top: 164px;
    transform: rotate(-90deg);
    opacity: 0.3;
    position: absolute;
}
.forms{
    width: 50%;
    padding-left: 300px;
    padding-top: 100px;
    margin-top: 100px;
    float: left;
}
.forms h6{
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
    border-width: 0px 0px 1px;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 0 0 13px;
}
.forms p{
    color: hsla(0,0%,100%,0.71);
    font-size: 11px;
    line-height: 24px;
    padding: 0  0 10px;
    text-align:left;

}
.forms .form{
    display: flex;
    
}
.form p input{
    background-color: hsla(0,0%,100%,0.11);
    color: hsl(0,0%,100%);
    font-size: 13px;
    padding: 15px 20px;
   border:none;
   outline: none;
}
.form p button{
    align-items: flex-start;
    background-color: hsl(46,96%,55%);
    border-radius: 0px 4px 4px 0;
    color: white;
    padding: 15px 30px;
    text-align:center;
    font-size: 13px;
    border:none;
}
.row ul {
    margin-top: 19%;
    width: 30%;
    float: left;
    margin-left: 3%;
}
.row ul li{
    list-style: none;
    
    font-size: 19px;
    padding-top: 20px;

}
.row ul li i{
    color: hsl(46,96%,55%);


}
.row ul li h6{
    font-family: 'Titillium Web', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    display: inline;
    padding-left: 15px;
    padding-top: 10px;
}
.row ul li h6 b{
    color: hsla(0,0%,100%,0.71);
}

